/* Default Colors Style */
$primary: #000DFF;
$musicGradientColor: linear-gradient(135deg, #6B73FF 0%, #000DFF 100%);
$marketingColor: #1904E5;
$marketingGradientColor: linear-gradient(135deg, #FAB2FF 0%, #1904E5 100%);
$customerColor: #E80505;
$customerGradientColor: linear-gradient(135deg, #FDD819 0%, #E80505 100%);
$blackColor: #0F1012;
$bodyTextColor: #808183;
$whiteColor: #ffffff;
$whiteSmokeColor: #F7F5F2;
$whiteSmokeColor2: #F2F2F3;
$borderColor: #EAEAEA;
$borderColor2: #EFEFEF;
$darkColor: #000000;
$font-fourteen: 14px; 
$font-fifteen: 15px; 
$font-sixteen: 16px; 
$font-seventeen: 17px; 
$font-eighteen: 18px; 
$transition: .7s; 

/* Default Fonts Style */
$main-font-family: "Inter", sans-serif;
$heading-font-family: "Instrument Sans", sans-serif;