/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_toza";
    src: url("../fonts/flaticon_toza.woff2?451f06c9a582707356ea09fc64075ee2") format("woff2"),
    url("../fonts/flaticon_toza.woff?451f06c9a582707356ea09fc64075ee2") format("woff"),
    url("../fonts/flaticon_toza.eot?451f06c9a582707356ea09fc64075ee2#iefix") format("embedded-opentype"),
    url("../fonts/flaticon_toza.ttf?451f06c9a582707356ea09fc64075ee2") format("truetype"),
    url("../fonts/flaticon_toza.svg?451f06c9a582707356ea09fc64075ee2#flaticon_toza") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_toza !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-microphone:before {
    content: "\f101";
}
.flaticon-discord:before {
    content: "\f102";
}
.flaticon-3d-cube:before {
    content: "\f103";
}
.flaticon-bot:before {
    content: "\f104";
}
.flaticon-voice-assistant:before {
    content: "\f105";
}
.flaticon-target:before {
    content: "\f106";
}
.flaticon-maximize:before {
    content: "\f107";
}
.flaticon-content:before {
    content: "\f108";
}
.flaticon-magic-wand:before {
    content: "\f109";
}
.flaticon-faster:before {
    content: "\f10a";
}
.flaticon-marketing:before {
    content: "\f10b";
}
.flaticon-teamwork:before {
    content: "\f10c";
}
.flaticon-voice:before {
    content: "\f10d";
}
.flaticon-machine-learning:before {
    content: "\f10e";
}
.flaticon-generator:before {
    content: "\f10f";
}
.flaticon-broadcasting:before {
    content: "\f110";
}
.flaticon-quote:before {
    content: "\f111";
}
.flaticon-ai:before {
    content: "\f112";
}
.flaticon-text-to-image:before {
    content: "\f113";
}
.flaticon-instagram:before {
    content: "\f114";
}
.flaticon-heart:before {
    content: "\f115";
}
.flaticon-arrow-pointing-to-down:before {
    content: "\f116";
}
.flaticon-google:before {
    content: "\f117";
}
.flaticon-play-button:before {
    content: "\f118";
}
.flaticon-eye:before {
    content: "\f119";
}
.flaticon-tag:before {
    content: "\f11a";
}
.flaticon-music-note:before {
    content: "\f11b";
}
.flaticon-musical-note:before {
    content: "\f11c";
}
.flaticon-youtube:before {
    content: "\f11d";
}
.flaticon-check:before {
    content: "\f11e";
}
.flaticon-apple-logo:before {
    content: "\f11f";
}
.flaticon-shuttle:before {
    content: "\f120";
}
.flaticon-calendar:before {
    content: "\f121";
}
.flaticon-down-arrow:before {
    content: "\f122";
}
.flaticon-tik-tok:before {
    content: "\f123";
}
.flaticon-idea:before {
    content: "\f124";
}
.flaticon-low-price:before {
    content: "\f125";
}
.flaticon-step-forward:before {
    content: "\f126";
}
.flaticon-quill-pen:before {
    content: "\f127";
}
.flaticon-play:before {
    content: "\f128";
}
.flaticon-star-1:before {
    content: "\f129";
}
.flaticon-arrow:before {
    content: "\f12a";
}